.bg-container{
    background-image: url('/assets/img/gen1.jpg'); /* Ensure the path is correct */
    background-repeat: no-repeat;
    background-size: cover; /* Ensures the image covers the entire container */
    height: 100vh; /* Full viewport height */
    width: 100%; /* Full viewport width */
    margin: 0;
    padding: 0;

    
    display: flex;
    justify-content: center; 
    align-items: center;      
}
.card{

  width: 31%;
  height: 48%;
  border-radius: 10%;
  background: #ffffffb3;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  padding: 2px 30px 108px 30px;

    
}
input[type="text"],
input[type="password"] {
      width: 95%;
      padding: 0.75rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1rem;
      outline: none;
    }


  label{
    display: block;
      margin: 1rem 0 0.5rem;
      font-size: 0.9rem;
      text-align: left;
      font-size: 140%;
  }
  

  button {

    margin-top: 1.5rem;
      width: 100%;
      padding: 0.75rem;
      background-color: #4b2ad3;
      color: white;
      font-size: 1rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      text-transform: uppercase;

   }
   
   button:hover {
    background-color: #3a21a5;

   }
   