
<div class="bg-container">

    <div class="card">
        <div>
           <h3 style="font-family: 'Courier New', Courier, monospace; margin-left: 15%;
           margin-top: 6%; font-size: 181%;"> LOGIN TO GENTLELUXE</h3>
           <form>
            <div>
            <label for="username">Username</label><br>
            <input type="text" id="username" name="username" placeholder="Enter your username" required >
            </div>
            
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password" placeholder="Enter your password" required >
            <div>
              <form action="/action_page.php">
                <div style="margin-top: 1%;">
                  <input type="checkbox" id="" >Remember Me

                </div>
                </form>
            <button type="submit" style="margin-bottom: 5%;">Login</button>
            Don't have  an account?<a style="color: #2f6ec7;">Create an account</a>
            </div>
          </form>
        </div>
    </div>
</div>