<!-- <div class="login-container">
    <h1>Gentle Luxe</h1>
    <form>
      <label for="username">Username</label>
      <input type="text" id="username" name="username" placeholder="Enter your username" required>
      
      <label for="password">Password</label>
      <input type="password" id="password" name="password" placeholder="Enter your password" required>
      
      <button type="submit">Login</button>
    </form>
  </div> -->

  <!-- bg container -->
<div class="bg-container">
    <!-- card -->
    <div class="card">
        <div>
           <h3 style="font-family: 'Courier New', Courier, monospace; margin-left: 1%;"> LOGIN TO GENTLELUXE</h3>
           <form>
            <div>
            <label for="username" style="margin-left: 14%;">Username</label><br>
            <input type="text" id="username" name="username" placeholder="Enter your username" required  style="margin-left: 14%;">
            </div>
            
            <label for="password"  style="margin-left: 14%;">Password</label><br>
            <input type="password" id="password" name="password" placeholder="Enter your password" required  style="margin-left: 14%;">
            <div>
            <button type="submit">Login</button>
            </div>
          </form>
        </div>
    </div>
</div>