<div class="bg-container">
<div class="card">
    <div>
        <h3>CREATE AN ACCOUNT</h3>
    </div>
    <form>
      
   <div class="cl1">
    <div>
        <label for="name">name</label><br>
        <input type="text" id="name" name="name" placeholder="Enter your name" required >
        </div>
        <div>
        <label for="Email">Email</label><br>
        <input type="email" id="Email" name="Email" placeholder="Enter your Email" required >
            
        </div>
        <div>
           <label for="Mobileno">"Mobileno</label><br>
           <input type="number" id="Mobileno" name="Mobileno" placeholder="Enter your Mobileno" required >
        </div>
   </div>
    <div class="cl2">
        <div>
            <label for="password">password</label><br>
            <input type="password" id="password" name="password" placeholder="Enter your password" required >
         </div>
         <div>
            <label for="password"> confirm password</label><br>
            <input type="password" id="password" name="password" placeholder="Enter your confirm password" required >
         </div>  
         <div>
             <button type="submit">Login</button>
         </div>
    </div> 
    </form>
</div>
</div>